
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <input type="text" name="sothunhat" />
    <input type="text" name="sothuhai" />

    <button type="submit">tính tổng hai số</button>
}

